<mat-card class="notification-info-card" tabindex="0">

  <mat-card-header>
    <mat-card-title>{{hospitalName}}</mat-card-title>
    <mat-card-subtitle>Blood Donation</mat-card-subtitle>
  </mat-card-header>

  <img class="notification-image" mat-card-image src="{{imgPath}}">

  <mat-card-content>
    <p>{{description}}</p>
    <p>Blood donation needed: {{bloodDonationAmountNeeded}}</p>
  </mat-card-content>
  <mat-card-actions>
    <input matInput placeholder="Blood donation amount" [(ngModel)]="bloodDonated" name="Donation" class="donationInput" appearance="fill">
    <button mat-button (click)="donateBlood()" class="donationButton" [disabled]="donatedToday()">Donate</button>
  </mat-card-actions>

</mat-card>
