
.notification-info-card {
  max-width: 400px;
  max-height: 1000px;
  background-color: lightskyblue;
}
.notification-image {
  max-width: 200px;
  max-height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.donationButton {
  background-color: white;
}

.donationInput {
  bottom: 85px;
  right: 400px;
}
