
.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-container {
  position: fixed;
  z-index: 2;
}

h1.example-app-name {
  margin-left: 20px;
}

.example-sidenav-container {
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  flex: 1 0 auto;
}

.bg-image {
  background-size: cover;
  width: 100%;
  background-image: url('../assets/images/blur-hospital.jpg');
  height: 100vh;
}

