

<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>Menu</mat-icon></button>
    <h1 class="example-app-name">Save a Life</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="">Home</a>
        <a mat-list-item routerLink="about">About</a>
        <a mat-list-item routerLink="addHospital">Add Hospital</a>
        <a mat-list-item routerLink="addNotification">Add Notification</a>


        <button mat-button [matMenuTriggerFor]="account">My Account</button>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="bg-image">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>

<mat-menu #account="matMenu">
  <button mat-menu-item >Account Settings</button>
  <button mat-menu-item (click)="logout()">Log out</button>
</mat-menu>

