
:host ::ng-deep agm-map {
  height: 250px;
  width: 350px;
  position: absolute;
  bottom: 25px;
  right: 25px;
}

:host ::ng-deep .cities-selection {
  position: absolute;
  bottom: 35px;
  right: 400px;
}

:host ::ng-deep .select-helper {
  position: absolute;
  bottom: 20px;
  right: 450px;
}

:host ::ng-deep .reset-markers {
  position: absolute;
  bottom: 85px;
  right: 400px;
}

.container {
  margin-left: 20px;
}

.add-hospital-card {
  max-width: 400px;
}

.hospital-form {
  min-width: 150px;
  max-width: 500px;
  margin-left: 20px;
}

.hospital-input-field {
  width: 100%;
}
